html {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M-16.00314268009287 175.56788801728794L107.7209985879409 218.16952628642335 26.59849558904253 51.843746749254166z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M71.84079242912995 24.3437891959167L69.27786553890927-49.04883437803836-39.52960637691298-8.508132255729812z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-30.42 425.19 a104.15 104.15 0 1 0 208.3 0 a104.15 104.15 0 1 0 -208.3 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M45.5 147.94 a111.26 111.26 0 1 0 222.52 0 a111.26 111.26 0 1 0 -222.52 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M682.28 338.76 a134.27 134.27 0 1 0 268.54 0 a134.27 134.27 0 1 0 -268.54 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1143.41 512.98 a123.45 123.45 0 1 0 246.9 0 a123.45 123.45 0 1 0 -246.9 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1219.72%2c173.459C1252.332%2c173.291%2c1280.08%2c153.351%2c1297.6%2c125.845C1316.794%2c95.712%2c1330.719%2c58.049%2c1312.986%2c27.033C1295.167%2c-4.134%2c1255.565%2c-12.376%2c1219.72%2c-10.373C1187.617%2c-8.579%2c1159.016%2c8.707%2c1142.914%2c36.537C1126.784%2c64.415%2c1124.679%2c98.565%2c1140.436%2c126.655C1156.528%2c155.343%2c1186.827%2c173.629%2c1219.72%2c173.459' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-14.31 236.06 a105.18 105.18 0 1 0 210.36 0 a105.18 105.18 0 1 0 -210.36 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1172.184%2c498.922C1203.828%2c498.59%2c1229.314%2c474.495%2c1243.29%2c446.102C1255.691%2c420.909%2c1249.799%2c392.636%2c1236.736%2c367.779C1222.426%2c340.548%2c1202.943%2c310.366%2c1172.184%2c310.796C1141.802%2c311.22%2c1125.096%2c342.792%2c1110.681%2c369.54C1097.285%2c394.396%2c1086.323%2c422.121%2c1098.445%2c447.622C1112.223%2c476.606%2c1140.094%2c499.259%2c1172.184%2c498.922' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M858.1340824596292 326.8077571776223L903.638825371193 361.0980404975175 932.3218788952539 275.69578447022434z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M391.252%2c325.529C445.378%2c327.065%2c495.587%2c293.799%2c519.915%2c245.424C542.194%2c201.125%2c526.615%2c150.225%2c500.666%2c107.971C476.173%2c68.086%2c437.966%2c38.832%2c391.252%2c35.912C338.717%2c32.628%2c281.533%2c47.013%2c255.271%2c92.632C229.049%2c138.181%2c248.145%2c193.075%2c274.646%2c238.463C300.861%2c283.361%2c339.282%2c324.054%2c391.252%2c325.529' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M594.3466402573112 434.89611663384284L645.7293684436486 342.19922118955895 553.0324729993647 290.81649300322147 501.64974481302727 383.51338844750535z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-16.39975767936167 135.70816560870205L83.85500582611758 75.46902634833806 23.615866565753592-24.7857371571412-76.63889693972565 35.4534021032228z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1111.7806956179813 298.6382836249061L1247.0555565465309 296.27705214424265 1109.4194641373178 163.36342269635654z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M402.4619185773287 146.13293743425618L303.70299569842354 50.76255419806006 208.33261246222742 149.5214770769652 307.09153534113256 244.89186031316132z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  /* display: flex; */
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

h1, h4 {
  text-transform: uppercase;
  background: linear-gradient(to right, #034885 10%, #4bbaed 50%, #263b27 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

.clock {
  background: url(https://media.geeksforgeeks.org/wp-content/uploads/20210302161254/imgonlinecomuaCompressToSizeOmNATjUMFKw-300x300.jpg);
  background-size: 100%;
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px #000, 0 0 10px #00000033;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 8px;
  background: #000;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.sec-hand {
  height: 3px;
}

.min-hand {
  height: 5px;
}
